@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed&display=swap');
.topBar{
    background-color: #000;
    height: 30px;
}

.bottom{
    background-color: #000;
    color: #fff;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #2E3E3F;
    background-color: #ffffff;
}

.bold, label {
    font-weight: bold;
}

.card {
    border-radius: 5px;
}

.form-control {
    box-shadow: none;
    border-radius: 5px;
    height: 3rem;
    border: 1px solid #36B446;
    font-size: 13px;
}

.form-control:focus {
    box-shadow: 1px 5px 10px #ccc;
    border-radius: 5px;
    height: 3rem;
    border: 2px solid #36B446;
    font-size: 13px;
}

.btn-group > .btn:not(:last-child):not(.dropdown-toggle), .btn-group > .btn:last-child:not(.dropdown-toggle) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: 1px solid #36B446;
    cursor: pointer;
}

.desc {
    font-weight: 300;
    font-size: 14px;
}

.headline {
    font-weight: 700;
    font-size: 14px;
}

.card.constructionOption:hover {
    cursor: pointer;
    border: 1px solid #36B446;
    box-shadow: 1px 5px 10px #ccc;
}


.green {
    color: #36B446;
}


.active {
    background-color: #36B446;
    color: white;
}

.big {
    font-weight: bold;
}

.buttons .btn {
    border-radius: 0;
    width: 30%;
    height: 3rem;
}


.switch, .switch1 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 150px;
    height: 50px;
    text-align: center;
    margin: -30px 0 0 -75px;
    background: #36B446;
    transition: all 0.2s ease;
    border-radius: 25px;
}

.switch span, .switch1 span {
    position: absolute;
    width: 20px;
    height: 4px;
    top: 50%;
    left: 50%;
    margin: -2px 0 0 -4px;
    background: #fff;
    display: block;
    transform: rotate(-45deg);
    transition: all 0.2s ease;
}

.switch span:after, .switch1 span:after {
    content: "";
    display: block;
    position: absolute;
    width: 4px;
    height: 12px;
    margin-top: -8px;
    background: #fff;
    transition: all 0.2s ease;
}

input[type=radio] {
    display: none;
}

.switch label, .switch1 label {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.2);
    width: 60px;
    line-height: 50px;
    transition: all 0.2s ease;
}

label[for=yes], label[for=yes1] {
    position: absolute;
    left: 0;
    height: 20px;
}

label[for=no], label[for=no1] {
    position: absolute;
    right: 0;
}

#no:checked ~ .switch, #no1:checked ~ .switch {
    /*background: #000;*/
    background: #eb4f37;
}

#no:checked ~ .switch span, #no1:checked ~ .switch span {
    background: #fff;
    margin-left: -8px;
}

#no:checked ~ .switch span:after, #no1:checked ~ .switch span:after {
    background: #fff;
    height: 20px;
    margin-top: -8px;
    margin-left: 8px;
}

#yes:checked ~ .switch label[for=yes], #yes1:checked ~ .switch label[for=yes1] {
    color: #fff;
}

#no:checked ~ .switch label[for=no], #no1:checked ~ .switch label[for=no1] {
    color: #fff;
}

input[type=radio],
input[type=checkbox] {
    display: none;
}

input[type=radio] + label,
input[type=checkbox] + label {
    display: inline-block;
    margin: -2px;
    padding: 8px 24px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    color: #333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: #f5f5f5;

    border: 1px solid #ccc;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-bottom-color: #b3b3b3;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

input[type=radio]:checked + label,
input[type=checkbox]:checked + label {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    background-color: #36B446;
    color: white;
}

button {
    margin-top: 10px;
}

.blue {
    color: #36B446;
    font-weight: bold;
}

.bg-blue {
    background-color: #004E99;
    font-weight: bold;
}

.PDFp{
    font-size: 12px;
    justify-content: center;
}
.blue{
    color: #36B446;
    font-weight: bold;
}
.bg-green {
    background-color: #36B446;
    font-weight: bold;
}

#PDF-content p, #step-9 h5, p, #PDF-content ul li, #step-9 ul li {

    font-family: 'Fira Sans Condensed', sans-serif;
}

#PDF-content h4, #PDF-content ul li {
    text-align: left;
}

.loader {
    border: 16px solid #000;
    border-radius: 50%;
    border-top: 16px solid #36B446;
    width: 150px;
    height: 150px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}
.d-hidden{
    visibility: hidden;
}

.html2pdf__page-break {
    margin: 0;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media all and (max-width: 480px) {
    .w-100 {
        width: 45% !important;
    }

}

.hello{
    border: none;
}
